dataset.zip filter=lfs diff=lfs merge=lfs -text
experiments/baseline_mcs/model_0000.pth filter=lfs diff=lfs merge=lfs -text
experiments/baseline_mcs/model_0006.pth filter=lfs diff=lfs merge=lfs -text
experiments/baseline_mcs/model_0004.pth filter=lfs diff=lfs merge=lfs -text
experiments/baseline_mcs/model_0002.pth filter=lfs diff=lfs merge=lfs -text
experiments/baseline_mcs/model_0001.pth filter=lfs diff=lfs merge=lfs -text
MCS2023_baseline/submission_result.npy filter=lfs diff=lfs merge=lfs -text
MCS2023_baseline/experiments/baseline_mcs/baseline_model.pth filter=lfs diff=lfs merge=lfs -text
